.sidebar {
    margin-right: _size(element-margin);
    min-width: 18em;
    width: 18em;

    &-widget {
        //border: 1px solid _palette(border);
        margin-bottom: _size(section-spacing);
        padding-bottom: _size(section-spacing-xsmall);
        padding-top: _size(section-spacing-xsmall);
        h2 {
            font-size: 1em;
        }
        &-hd {
            margin: 0 0 _size(element-margin) 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @include breakpoint(small) {
            padding-top: _size(element-margin)/4;
            padding-bottom: _size(element-margin)/4;
        }
    }

    @include breakpoint(large) {
        min-width: 0;
        width: 100%;
        margin-top: (_size(element-margin))/2;
    }
    @include breakpoint(small) {
        margin-top: 0;
    }
}
