.sidebar {
    margin-right: _size(element-margin);
    min-width: 20em;
    width: 20em;

    &-widget {
        //border: 1px solid _palette(border);
        margin-bottom: _size(section-spacing);
        padding: _size(section-spacing-xsmall);
        h2 {
            font-size: _size(min-font-size);
        }
        &-hd {
            margin: 0 0 _size(element-margin) 0;
        }
    }

    @include breakpoint(large) {
        border-top: solid 1px _palette(border);
        margin: _size(section-spacing) 0 0 0;
        min-width: 0;
        padding: _size(section-spacing) 0 0 0;
        width: 100%;
    }
}
