@mixin root-padding {
    padding-left: _size(section-spacing-xsmall);
    padding-right: _size(section-spacing-xsmall);
    padding-top: (_size(section-spacing) * 1.5);
    padding-bottom: (_size(section-spacing) * 1.5);
    @include breakpoint(xxlarge-up) {
        padding-top: (_size(section-spacing) * 1.5);
        padding-bottom: (_size(section-spacing) * 1.5);
    }
    @include breakpoint(xlarge) {
        padding-top: _size(section-spacing);
        padding-bottom: _size(section-spacing);
    }
    @include breakpoint(small) {
        padding-top: _size(section-spacing-small);
        padding-bottom: _size(section-spacing-small);
    }
    @include breakpoint(xsmall) {
        padding-top: _size(section-spacing-xsmall);
        padding-bottom: _size(section-spacing-xsmall);
    }
}
.root {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'row-reverse');
    @include vendor('transition', 'opacity #{_duration(menu)} ease');
    @include root-padding();
    margin: 0 auto;
    max-width: 100%;
    opacity: 1;
    width: 100%;
    body.is-menu-visible & {
        opacity: 0.15;
    }
    body.is-search-visible & {
        opacity: 0.15;
    }

    .page-post-detail & {
        display:block;
    }
    

    @include breakpoint(large) {
        display: block;
    }
    
}
