.banner {
    position:relative;
    &-bg {
        position: absolute;
        z-index: 1;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("../img/ball_1408.png") no-repeat;
        background-size: cover;
        background-position: center 80%;
        opacity: 0.02;
    }
    background-color: _palette(bg-primary);
    .dark &{
        background-color: _palette(bg-dark);
    }
    transition: background-color ease 1s;
    &-inner {
        z-index:3;
    }
    &-ball {
        z-index:2;
        position:absolute;
        &-1 {
            height: 195px;
            width: 195px;
            background: url("../img/ball_195.png") center center no-repeat;
            background-size: cover;
            top: 50%;
            margin-top: -95px;
            left: - 95px;
            @include breakpoint(xsmall) {
                height: 160px;
                width: 160px;
                margin-top: -80px;
                left: -80px;
            }
            @include breakpoint(xsmall) {
                height: 130px;
                width: 130px;
                margin-top: -65px;
                left: -65px;
            }
        }
        &-2 {
            width: 100px;
            height: 100px;
            background: url("../img/ball_1408.png") center center no-repeat;
            background-size: cover;
            top: -50px;
            right:0;
            opacity:.8;
            
            @include breakpoint(xsmall) {
                height: 80px;
                width: 80px;
                top: -40px;
            }
        }
    }
    &-pic {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 410px;
        img {
            max-width: 100%;
        }
        @include breakpoint(small) {
            height: 350px;
        }
        @include breakpoint(xsmall) {
            height: 200px;
        }
    }
}
