.blurb {
    h2 {
        font-size: 0.9em;
        margin: 0 0 (_size(element-margin) * 0.75) 0;
        .dark & {
            color: _palette(fg-light);
        }
    }

    h3 {
        font-size: 0.8em;
    }

    p {
        font-size: 0.9em;
    }
    .button {
        .dark & {
            color: _palette(fg-light);
        }
    }
}
