.case {
	overflow: hidden;
	$caption-height: 100%;
	position: relative;
	margin-bottom: 5px;
	margin-left:2.5px;
	margin-right: 2.5px;
    min-height: 200px;
    @include breakpoint(xsmall) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
	&-wrap {
	    padding-left: 0;
        padding-right: 0;
        @include breakpoint(xsmall){
            width:100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
	&-cover {
		border: none;
		position: absolute;
        top:0;
        left:0;
		display: block;
		transition: transform 0.4s;
        width: 100%;
        height: 100%;
        &-inner {
            position: relative;
            top: 50%;
            text-align: center;
            transform: translateY(-50%);
        }
	}
    &-pic {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &-logo {
        max-width: 40%;
    }
    &-title {
        font-size:1.0em;
        color: #fff;
        margin-bottom: 0;
        margin-top: 10px;
        text-transform:uppercase;
    }
    &-info {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
    }
	&-caption {
		padding: 1em;
    	background: rgba(_palette(bg-dark), 0.9);
    	color: #fff;
		height: $caption-height;
		width: 100%;
		position: absolute;
		left: 0;
		top: auto;
		bottom: 0;
		opacity: 0;
		overflow: hidden;
		transform: translateY(100%);
		transition: transform 0.4s, opacity 0.1s 0.3s;
		backface-visibility: hidden;
	}
    .lnk-icon {
        position: absolute;
        right: 20px;
        top: 20px;
        line-height: 1.3;
        border: none;
        color: #fff;
        opacity: 0;
        transition: opacity 0.4s ease;
        transition-delay: 0.2s;
    }
	&-name {
		color: #fff;
	    margin-right: 30px;
    }
	&-desc {
		font-size: 14px;
		line-height: 18px;
	}
	&:hover, &.cs-hover{
		.case-cover {
			transform: translateY(-($caption-height/2));
		}
		.case-caption {
			opacity: 1;
			transform: translateY(0px);
			transition: transform 0.4s, opacity 0.1s;
		}
        .lnk-icon {
            opacity: 1;
        }
	}
}
