.page {
    &-index {
        .pagination {
            display: block;
            @include breakpoint(large) {
                display: none;
            }
        }
        .mini-posts-wrap {
            .pagination {
                @include breakpoint(large) {
                    display: block;
                }
                @include breakpoint(large-up) {
                    display: none;
                }
            }
        }
    }
}

.highlight {
    @include breakpoint(small) {
        padding: 15px 10px;
        .gutter pre {
            padding-right: 10px;
        }
    }
}
