layout: layout-index 
classes: page-index 
---
<link href="//fonts.useso.com/css?family=Roboto" rel="stylesheet" />
<link href="css/home.css" rel="stylesheet"/>
<div class="card">
    <div class="card-hd">
        <img src="css/images/o2.png" class="card-logo responsive-img"/>
    </div>
    <div class="card-bd">
        <h2 class="card-tit">The O2 Team</h2>
        <p class="card-desc">O2多终端研发中心</p>
        <div class="main-link">
            <div class="link">
                <a href="//github.com/o2team">GITHUB</a>
            </div>
            <div class="link">
                <a href="/notes/">NOTES</a>
            </div>
            <div class="link">
                <a href="/projects/">PROJECTS</a>
            </div>
            <div class="link">
                <a href="/about/">ABOUT</a>
            </div>
        </div>
    </div>
</div>
