<aside id="sidebar" class="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon fa"></i></a>
    <% if(is_post()) { %>
    <%- partial('post/nav', {post: page}) %>
    <% } %>
    <div class="widgets-container">
    <% if (theme.widgets) {
        theme.widgets.forEach(function(widget){ %>
            <%- partial('_widget/' + widget) %>
        <% })
    } %>
    </div>
</aside>
