@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-ejigez');
    src:url('../fonts/icomoon.eot?#iefix-ejigez') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?-ejigez') format('truetype'),
        url('../fonts/icomoon.woff?-ejigez') format('woff'),
        url('../fonts/icomoon.svg?-ejigez#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon_zhiyi';
    src:url('../fonts/icomoon_zhiyi.eot?-ejigez');
    src:url('../fonts/icomoon_zhiyi.eot?#iefix-ejigez') format('embedded-opentype'),
        url('../fonts/icomoon_zhiyi.ttf?-ejigez') format('truetype'),
        url('../fonts/icomoon_zhiyi.woff?-ejigez') format('woff');
    font-weight: normal;
    font-style: normal;
}

