.header
  background: url(images/desk.jpg) center center no-repeat;
  background-size:cover;
  padding-bottom: nav-height
  position: relative

.header-outer
  height: 100%
  position: relative

.header-inner
  position: relative

.header-title
  height:100px;
  clearfix()
  text-align: center

.logo
  position:relative;
  &-wrap
    float:left
  display: block
  width: logo-width
  height: logo-height
  &-icon
    width: logo-width
    height: logo-height
    line-height: logo-height
    position: absolute
    top: 0
    left: 0
    font-family: "icomoon"
    color: color-main
    text-indent: -9999px
    overflow: hidden
    font-size: 32px
    text-align: center
    &:after
      width: 100%
      height: 100%
      text-indent: 0
      position: absolute
      top: 0
      left: 0
      content: "\e600"

.subtitle
  line-height: 20px
  display: block
  font-size: 18px
  color: color-main
  font-weight: bold
  &-desc
    font-size: 12px
    color: #fff 
  &-wrap
    text-align: left
    float:left
    padding:32px 0 0
    margin-left:20px 


.social
  &-wrap
    float:right
    padding: 32px 0 0;
  &-top-inner
    clearfix()
    p
      float: left
      color: rgba(255,255,255,0.8)
      font-size: 16px
      font-weight: 600
      text-transform: uppercase
      line-height: 24px
      padding: 3px 0
    
  &-tooltip
    position: relative
    i
      color: color-main
      font-size: font-icon-profile-size
      width: font-icon-profile-size


  &-links
    float: right
    position: relative
    padding-top: 2px
    li
      float: left
      margin-left: 8px
      a
        color: color-main
        &:hover
          color: lightness(color-main, 80%)
          i
            color: lightness(color-main, 80%)
