@include skel-breakpoints((
    // WUXGA
    xxlarge: '(max-width: 1920px)',
    xxlarge-up: '(min-width: 1921px)',
    // WSXGA+
    xlarge: '(max-width: 1680px)',
    // WXGA
    large: '(max-width: 1280px)',
    large-up: '(min-width: 1281px)',
    medium: '(max-width: 980px)',
    small: '(max-width: 736px)',
    small-up: '(min-width: 737px)',
    xsmall: '(max-width: 480px)',
    xsmall-up: '(min-width: 481px)'
));

@include skel-layout((
    reset: 'full',
    boxModel: 'border',
    grid: ( gutters: 1em )
));
